<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="File" name="f" fileName="${basedir}/Talis.FFXIV.Errors-${date:format=yyyy-MM-dd}.log"
            layout="${longdate} ${message}" />
	  <target xsi:type="File" name="d" fileName="${basedir}/Talis.FFXIV.Trace-${date:format=yyyy-MM-dd}.log"
            layout="${date:format=HH\:mm\:ss.ffff} ${qpc:normalize=true:difference=true}|Thread ${threadid:padCharacter=0:padding=2}${threadname}|${logger:shortName=true}|${message}|${processinfo:property=TotalProcessorTime}" />		
			
  </targets>
  <rules>
    <logger name="*" level="Error" writeTo="f" />
	  <logger name="*" level="Trace" writeTo="d" />
  </rules>
</nlog>